@model FileUpload


<body>
    <h1>Plan Your Event</h1>
    <a href ="/dashboard">Back to Dashboard</a>

    <form asp-action="CreateEvent" asp-controller="Dashboard" method="post" enctype="multipart/form-data">
            <span asp-validation-for="Event.EventTitle"></span>
            <label asp-for="Event.EventTitle"></label>
            <input class="form-control mb-2" asp-for="Event.EventTitle">

            <span asp-validation-for="Event.Address"></span>
            <label asp-for="Event.Address"></label>
            <input  class="form-control mb-2"asp-for="Event.Address">

            <span asp-validation-for="Event.EventTime"></span>
            <label asp-for="Event.EventTime"></label>
            <input class="form-control mb-2" type ="time" asp-for="Event.EventTime">

            <span asp-validation-for="Event.EventDate"></span>
            <label asp-for="Event.EventDate"></label>
            <input class="form-control mb-2" type = "date" asp-for="Event.EventDate">

            <span asp-validation-for=Event.Duration></span>
            <label asp-for="Event.Duration"></label>
            <input class="form-control" asp-for="Event.Duration">
            <span asp-validation-for="Event.TimeType"></span>
            <label asp-for="Event.TimeType"></label>

            <select class="form-select mb-2" asp-for="Event.TimeType">
                <option value = "Minutes">Minutes</option>
                <option value = "Hours">Hours</option>
                <option value = "Days">Days</option>
            </select>
            <span asp-validation-for="Event.Description"></span>
            <label asp-for="Event.Description"></label>
            <input class="form-control mb-2" asp-for="Event.Description">

            <span asp-validation-for=FileToUpload></span>
            <label> Poster</label>
            <input type="file" name="FileToUpload" class="form-control mb-4"/>


        <button class="btn btn-primary">Create</button>
    </form>

</body>