@model User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<tbody>
    <a asp-controller="Home" asp-action = "Register">REg</a>
    <a href = "register">rg</a>
@*@foreach (var u in Model)
{
    <tr>
        <td>@u.Id</td>
    </tr>
}*@


</tbody>